.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Container{
  padding: 20px;
}

.btn-outline-secondary{
  color: rgb(55, 192, 89);
}



.displayitem{
  padding: 10px;
}

.display{
  padding: 20px;
}